.container {
  padding: 5px 45px;
  height: 90%;
  position: relative;


  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .containerInfo {
      h1 {
        max-width: 300px;
        letter-spacing: 1.2px;
        font-size: 40px;

      }
    }

    .containerNetworks {
      //margin-left: 5vh;
      span {
        display: block;
        height: 150px;
        width: 10px;
        border-right: 2px solid #1b7003;
      }

      .networkItems {
        display: flex;
        flex-direction: column;

        a {
          color: #fdfdfd;
        }

        svg {
          font-size: 30px;
          padding: 15px 0;
          color: #198104;
        }
      }
    }
  }

  .photosContainer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
