.container {
  padding: 5px 45px;
  height: 100vh;
  position: relative;


  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .containerInfo {
      h1 {
        max-width: 300px;
        letter-spacing: 1.2px;
        font-size: 40px;
        span{
          color: #057c25;
        }
      }
    }
    .containerWays{
      width: 30%;
      img{
        height: 600px;

      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        cursor: pointer;
      }

    }
  }

  .photosContainer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
