.container{
  display: flex;
  align-items: center;
  padding-left: 45px;
  img{
    max-width: 50px;
  }
  p{
    font-size:20px;
    color: #ffffff;
    letter-spacing: 1.2px;
    margin-right: 15px;
    font-family: Dialog;
    span{
      font-weight: bolder;
      color:#076c09;
    }
  }
}