.container{
  position: relative;
  width: 100%;
  height: 30%;
  margin-left: 1vh;
  bottom: 30px;

  .wrapper{
    position: absolute;
    bottom: 0;
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid #057c25;
    justify-content: space-between;
    padding: 5px;
    color: #c0c0c0;
    p{
      font-size: 18px;
      letter-spacing: 0.8px;
    }

    .icon{
      display: flex;
      align-items: center;
      svg{
        font-size: 30px;
        color:#057c25;
        margin-left: 10px;
      }
      span{
        border-right: 1px solid #057c25;
        display: block;
        height: 50px;
        margin-left: 5px;
      }
    }
    .city{
      font-weight: 900;
      color: #08b224;
    }
  }
}